<h1>This is the show page!</h1>

<h2>Signed in as user <%= @user.username %>!</h2>

<div id="new_event">
    <%= form_with model: Event.new do |f| %>
        <h2>Create New Event</h2>
        <%= f.label :event_name %>
        <%= f.text_field :event_name %>

        <%= f.label :event_description %>
        <%= f.text_area :event_description %>

        <%= f.submit "Create event" %>
    <% end %>
</div>

<div id="created_events">
    <h2>Created Events</h2>
    <% @user.events.each do |event| %>
        <h3><%= event.event_name %></h3>
    <% end %>
</div>

<h2><%= @user.username %>'s upcoming events</h2>
<% @user.attended_events.where("event_date >= ?", Date.today).each do |e| %>
    <%= e.event_name %><br><br>
<% end %>

<br>

<h2><%= @user.username %>'s past events</h2>
<% @user.attended_events.where("event_date < ?", Date.today).each do |e| %>
    <%= e.event_name %><br><br>
<% end %>