
<h2 class="is-size-4 pl-4">Hello <%= @user.username %>!</h2>

<div>
    <div id="new_event" class="has-text-centered">
        <%= form_with model: Event.new do |f| %>
            <h2 class="is-size-4">Create New Event</h2>

            <%= render partial: "events/new_event", locals: {event: @event} %>
        <% end %>
    </div>

    <br>

    <div id="created_events" class="has-text-centered">
        <h2>Created Events</h2>
        <% @user.events.each do |e| %>
            <h3><%= link_to e.event_name, event_path(e) %></h3>
        <% end %>
    </div>

    <div id="attended-events" class="has-text-centered">
        <h2><%= @user.username %>'s upcoming events</h2>
        <% @user.attended_events.upcoming.each do |e| %>
            <%= link_to e.event_name, event_path(e) %><br>
        <% end %>

        <br>

        <h2><%= @user.username %>'s past events</h2>
        <% @user.attended_events.past.each do |e| %>
            <%= link_to e.event_name, event_path(e) %><br>
        <% end %>
    </div>
</div>