<h1>This is the show page!</h1>

<h2>Signed in as user <%= @user.username %>!</h2>

<div id="new_event">
    <%= form_with model: Event.new do |f| %>
        <h2>Create New Event</h2>

        <%= render partial: "events/new_event", locals: {event: @event} %>
    <% end %>
</div> <br>

<div id="created_events">
    <h2>Created Events</h2>
    <% @user.events.each do |event| %>
        <h3><%= event.event_name %></h3>
    <% end %>
</div>

<h2><%= @user.username %>'s upcoming events</h2>
<% @user.attended_events.upcoming.each do |e| %>
    <%= e.event_name %><br><br>
<% end %>

<br>

<h2><%= @user.username %>'s past events</h2>
<% @user.attended_events.past.each do |e| %>
    <%= e.event_name %><br><br>
<% end %>