<% if current_user %>
    <h2 class="is-size-1">Signed in as <%= current_user.username %></h2>
<% end %>

<h2 class="is-size-2 has-text-centered">Upcoming Events</h2>
<div class="index-events">
    <% @events.upcoming.each do |e| %>
        <div class="has-text-centered">
            <%= link_to event_path(e) do %>
                <%= e.event_name %><br>
                <%= e.event_description %><br>
                <%= e.creator.username %>
            <% end %>
        </div>
        
        <br>
    <% end %>
</div>

<h2 class="is-size-2 has-text-centered">Past Events</h2>
<div class="index-events">
    <% @events.past.each do |e| %>
        <div class="has-text-centered">
            <%= link_to event_path(e) do %>
                <%= e.event_name %><br>
                <%= e.event_description %><br>
                <%= e.creator.username %><br><br>
            <% end %>
        </div>
    <% end %>
</div>