<h1>Events Index Page</h1>

<h2>Upcoming Events</h2>
 <div>
    <% @events.each do |e| %>
        <% if e.event_date >= Date.today %>
            <%= e.event_name %><br>
            <%= e.event_description %><br>
            <%= e.creator.username %><br><br>
        <% end %>
    <% end %>
</div>

<h2>Past Events</h2>
<div>
    <% @events.each do |e| %>
        <% if e.event_date < Date.today %>
            <%= e.event_name %><br>
            <%= e.event_description %><br>
            <%= e.creator.username %><br><br>
        <% end %>
    <% end %>
</div>