<h2 class="is-size-3 has-text-centered">Upcoming Events</h2>
<div class="index-events">
    <ul id="index-event-list">
        <% @events.upcoming.each do |e| %>
            <li>
                <%= link_to event_path(e) do %>
                    <div id="index-event-cards" class="card has-text-centered ml-1 mr-1">
                        <%= e.event_name %><br>
                        <%= e.event_description %>
                    </div>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>

<h2 class="is-size-3 has-text-centered">Past Events</h2>
<div class="index-events">
    <ul id="index-event-list">
        <% @events.past.each do |e| %>
            <li>
                <%= link_to event_path(e) do %>
                    <div id="index-event-cards" class="card has-text-centered ml-1 mr-1">
                        <%= e.event_name %><br>
                        <%= e.event_description %><br>
                    </div>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>