<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="title-container" class="p-4 text-centered">
      <p class="title is-size-1 m-5 p-4 has-text-centered">Title!</p>
    </div>

    <nav class="navbar mt-5 mb-3">
      <% if current_user %>
        <%= link_to "Events", events_path, :class => "navbar-item is-size-5 button is-primary m-3 has-text-link" %>
        <%= link_to "Home", user_path(session[:id]), :class => "navbar-item is-size-5 button is-primary m-3 has-text-link" %>
        <%= link_to "Sign out", logout_path, method: :delete, :class => "navbar-item is-size-5 button is-primary m-3 has-text-link" %>
      <% else %>
        <%= link_to "Events", events_path, :class => "navbar-item is-size-5 button is-primary ml-4 mr-4 has-text-link" %>
        <%= link_to "Sign up", new_user_path, :class => "navbar-item is-size-5 button is-primary ml-4 mr-4 has-text-link" %>
        <%= link_to "Sign in", login_path, :class => "navbar-item is-size-5 button is-primary ml-4 mr-4 has-text-link" %>
      <% end %>
    </nav>

    <% flash.each do |type, msg| %>
      <div class="<%= flash_type(type) %> is-size-4">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
