<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navbar">
      <div><%= link_to "Create Event", new_event_path %></div>
      <div><%= link_to "Sign in", login_path %></div>
      <div><%= link_to "Sign up", new_user_path %></div>
      <div><%= link_to "Home", events_path %></div>
      <div><%= link_to "Sign out", logout_path, method: :delete %></div>
    </nav>

    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
